.container {
  margin: 0 auto;


  width:50% ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  /* margin-bottom: px; */
  /* position: relative; */
  /* padding-bottom: 200px; */
}

.div {
  /* position: absolute; */
  display: flex;
  /* height: 00px; */
  padding-right: 100px;
  justify-content: space-between;

  /* border: 1px solid red; */
  background-color: #141c2f;
  border-radius: 15px;
  width: 180%;
  /* margin-right: ; */
  
  /* width: 600px; */
  padding-bottom: 50px;
}
.showoff {
  background-color: #1f2a48;
  border-radius: 5px;
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  /* border:1px solid ; */
  height: 20%;
  width: 100%;
  /* border: 1px solid sandybrown; */
}

.area {
  width: 110%;
  height: x;
}

.foot {
  margin-top: 10%;
}

.footer1 {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.footer2 {
  display: flex;
  margin-top: 10px;
  /* border: 1px solid black; */
  justify-content: space-between;
}

h1 {
  margin-bottom: 0px;
}
.responsive{
  /* width: 180%; */
}
.img{
  margin: 35px;
}
.inline{
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 540px)
{

  .inline{
     display: flex;
     flex-direction: column;
  }
.showoff {
  width:140% ;
}
.div{
  width: auto;
}
.foot {
  margin-top: 10%;
}

.footer1 {
  display: flex;
  /* border: 1px solid black; */
  flex-direction:column;
}

.footer2 {
  display: flex;
  margin-top: 10px;
  /* border: 1px solid black; */
  justify-content: space-between;
   flex-direction:column;
}
}