@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100&family=Inter:wght@100&family=Questrial&family=Roboto:wght@100&family=Space+Mono&family=Ubuntu:wght@500&display=swap');
body {
  color: aliceblue;
  background-color: #1f2a48;
   font-family: 'Space Mono', monospace;;
}

.buttonIn {
  /* height: 80px; */
  width: 60%;
  position: relative;
  /* background-color: #141c2f; */
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  /* width: 400px; */
}

input {
  width: 580px;
  /* margin : 0 auto; */
  margin: 10px;
  height: 62px;
  background-color: #141c2f;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-size: 25px;
  padding-left: 10px;
  margin-right: 0px;
}


@media only screen and (max-width: 540px)
{
.buttonIn{
   width: 100%;
  position: relative;
}
}




